{% extends 'rango/base.html'%}
{% load static %}

{% block title %} {{ category_name }} {% endblock %}

{% block content %}
    <h1>Rango says....Hello world!</h1>
    <p>Categories as per likes</p>


    {% if user.is_authenticated %}
        {% if categories_likes %}
        <ul>
            {% for category in categories_likes %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a>-{{ category.likes }} likes</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong><p>There are no categories present.</p></strong>
    {% endif %}


    <p>Categories as per views</p>
    {% if categories_views %}
        <ul>
            {% for category in categories_views %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a>-{{ category.views }} views</li>
            {% endfor %}
        </ul>

        <a href="/rango/add_category/">Add a New Category</a><br />
        <a href="/logout/">Logout Here</a><br />
    {% else %}
        <strong><p>There are no categories(views) present.</p></strong>
    {% endif %}

    {% else %}

        {% if categories_likes %}
        <ul>
            {% for category in categories_likes %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a>-{{ category.likes }} likes</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong><p>There are no categories present.</p></strong>
    {% endif %}


    <p>Categories as per views</p>
    {% if categories_views %}
        <ul>
            {% for category in categories_views %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a>-{{ category.views }} views</li>
            {% endfor %}
        </ul>

    <a href="/rango/add_category/">Add a New Category</a><br />
    {% else %}
        <strong><p>There are no categories(views) present.</p></strong>
    {% endif %}


        <p>{{ user }} is not authenticated. Kindly register or login </p>


    {% endif %}




{% endblock %}